fieldset {
    display: flex;
}
div , p {
    font-size: 37px;
}
.form-controls {
    display: flex;
    justify-content: space-around;
}
button {
    margin: 20px 0;
    font-size: 37px;
}
h1 {
    font-size: 47px;
    text-align: center;
}
.countItem {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.countItem .removeFieldset {
    position: absolute;
    top: 2px;
    right: 4px;
    font-size: 37px;
    line-height: 12px;
    padding: 0;
    border: unset;
    background-color: unset;
    outline: unset;
}
.countItemLabel {
    width: 46%;
    font-size: 37px;
    text-transform: uppercase;
    border-bottom: 2px solid #000;
}
.countItemLabel:nth-child(-n + 2) {
    margin-bottom: 16px;
}

.countItemLabel input,
.name-input input {
    border: unset;
    display: block;
    width: 100%;
    font-size: 37px;
    outline: unset;

}
.name-input {
    font-size: 37px;
    display: block;
    width: 40%;
    border-bottom: 2px solid #000;
    margin-bottom: 38px;
}

fieldset button {
    align-self: flex-end;
}
.result-item__flex {
    display: flex;
}
.result-item__flex :first-child {
    margin-right: 10px;
}