body {
    margin: 20px;
}

input {
    border: unset;
    width: 100%;
    outline: unset;
}

label, .total-count b {
    display: block;
    text-transform: uppercase;
}

label:not(.total-count), .total-count input {
    width: 48%;
    border-bottom: 2px solid #000;
}

fieldset, .result-item__flex, .total-count {
    display: flex;
}

div, p, button, input, label {
    font-size: 37px;
}

.form-controls {
    width: fit-content;
    margin: 30px auto;
}

.form-controls button:last-child {
    margin-left: 20px;
    margin-right: 100px;
}

button {
    border: unset;
    border-radius: 20px;
    padding: 24px;
}

h1 {
    font-size: 47px;
    text-align: center;
}

fieldset, .name-input {
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

fieldset button {
    position: absolute;
    top: 0;
    right: 14px;
    padding: 0 ;
    border: unset;
    background-color: unset;
}

fieldset label:nth-child(-n + 2) {
    margin-bottom: 16px;
}

.result-item__flex, .total-count {
    align-items: center;
}

.total-count button {
    margin-left: 20px;
    padding: 24px 36px;
}